{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">สร้างบัญชีพนักงาน</h2>
    <div class="center">
        <form method="POST">
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_first_name" class="form-label">{{ form.first_name.label }}</label>
                {{ form.first_name }}
                <div class="form-text text-danger">{{ form.first_name.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="id_last_name" class="form-label">{{ form.last_name.label }}</label>
                {{ form.last_name }}
                <div class="form-text text-danger">{{ form.last_name.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="id_group" class="form-label">{{ form.group.label }}</label>
                {{ form.group }}
                <div class="form-text text-danger">{{ form.group.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="id_username" class="form-label">{{ form.username.label }}</label>
                {{ form.username }}
                <div class="form-text text-danger">{{ form.username.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="id_email" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
                <div class="form-text text-danger">{{ form.email.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="id_password1" class="form-label">{{ form.password1.label }}</label>
                {{ form.password1 }}
                <div class="form-text text-danger">{{ form.password1.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="id_password2" class="form-label">{{ form.password2.label }}</label>
                {{ form.password2 }}
                <div class="form-text text-danger">{{ form.password2.errors }}</div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}