{% extends "base.html" %}
{% block title %}Product Order{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Add New Supplier</h2>
    <div class="center">
        <form method="POST">
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">{{ form.name.label }}</label>
                {{ form.name }}
                <div class="form-text text-danger">{{ form.name.errors }}</div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">{{ form.contact.label }}</label>
                {{ form.contact }}
                <div class="form-text text-danger">{{ form.contact.errors }}</div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">{{ form.address.label }}</label>
                {{ form.address }}
                <div class="form-text text-danger">{{ form.address.errors }}</div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}