* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
main {
    padding: 20px;
}
  
nav {
    display: flex;
    justify-content: space-around;
    background-color: #466bff;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
body {
    background-color: #e4e4e4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 80px;
}

h2 {
    margin-bottom: 40px;
    color: #333;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 15px 0;
    z-index: 1000;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 30vw;
    max-width: 100%;
    display: inline-block;
}

.form-label {
    font-weight: bold;
    color: #555;
}

.form-control,
.form-select {
    padding: 10px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.mb-3{
    text-align: left;
}

.mb-3 input:focus,
.mb-3 select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-link {
    color: rgb(38, 38, 248);      
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.blue-link:hover {
    text-decoration: underline;
}
.product-card {
    height: 100%;
}
.product-image {
    height: 200px;
    object-fit: cover;
}
.card-check-label {
    cursor: pointer;
}
.card-check-input {
    display: none;
}
.card-check-input:checked + .card {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.category-badge {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}